<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Visione</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="styleregistration.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>


<body>

    <div class="wrapper">

<header th:insert="blocks/header :: header"></header>

        <div class="clearfix">






            <div class="leftblock">

                <div class="video">
                    <video controls height="350px" width="100%">

                    </video>
                </div>

                <div class="unknown">
                    <img src="images/excess - 18 - 6.jpeg" height="100%">
                </div>

                <div class="late">
                    Late
                </div>

                <div class="excess">
                    excess
                </div>

                <div class="disease">
                    disease
                </div>

            </div>







            <div class="registration">

                <div class="slider">

                    <div class="navigation">

                        <label for="user" class="bar"></label>
                        <label for="partofday" class="bar"></label>
                        <label for="group" class="bar"></label>
                        <label for="classroom" class="bar"></label>
                        <label for="class" class="bar"></label>

                    </div>

                    <div class="slides">

                        <input type="radio" name="r" id="user" checked>
                        <input type="radio" name="r" id="partofday">
                        <input type="radio" name="r" id="group">
                        <input type="radio" name="r" id="classroom">
                        <input type="radio" name="r" id="class">

                        <div class="slide s1">
                            <h1>Add user</h1>
                            <form  action="/" method="post">

                                <input type="text" name="name" placeholder="Name:" class="form-control"><br>
                                <input type="text" name="surname" placeholder="Surname:" class="form-control"><br>
                                <input type="text" name="status" placeholder="Status:" class="form-control"><br>
                                <input type="text" name="disease" placeholder="Disease:" class="form-control"><br>
                                <input type="text" name="group" placeholder="Group:" class="form-control"><br>
                                <input type="file" name="imageFile">
                                <input type="submit" value="Upload"/><br>
                                <button type="submit"> Add user</button>

                            </form>
                        </div>

                        <div class="slide">

                            <h5>Add part of day</h5>
                            <form  action="/" method="post">

                                <input type="text" name="group" placeholder="Group:" class="form-control"><br>
                                <input type="text" name="parity" placeholder="Parity:" class="form-control"><br>
                                <input type="text" name="day" placeholder="Day:" class="form-control"><br>
                                <input type="text" name="numberoflesson" placeholder="Number of lesson:" class="form-control"><br>
                                <input type="text" name="class" placeholder="Class:" class="form-control"><br>
                                <input type="text" name="teacher" placeholder="Teacher:" class="form-control"><br>
                                <input type="text" name="classroom" placeholder="Classroom:" class="form-control"><br>
                                <input type="text" name="firstweekofperiod" placeholder="First week of period:" class="form-control">
                                <input type="text" name="lastweekofperiod" placeholder="Last week of period:" class="form-control"><br>
                                <button type="submit"> Add part of day</button>

                            </form>

                        </div>
                        <div class="slide">

                            <h1>Add group</h1>
                            <form  action="/" method="post">

                                <input type="text" name="group" placeholder="Group:" class="form-control"><br>
                                <button type="submit"> Add group</button>

                            </form>

                        </div>

                        <div class="slide">

                            <h1>Add classroom</h1>
                            <form  action="/" method="post">

                                <input type="text" name="classroom" placeholder="classroom:" class="form-control"><br>
                                <button type="submit"> Add classroom</button>

                            </form>

                        </div>
                        <div class="slide">

                            <h1>Add class</h1>
                            <form  action="/" method="post">

                                <input type="text" name="class" placeholder="class:" class="form-control"><br>
                                <button type="submit"> Add class</button>

                            </form>

                        </div>

                    </div>

                </div>

            </div>

        </div>





    </div>



</body>
</html>