<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Visione</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="styleregistration.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--Ниже для карусели-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>


<body>

    <div class="wrapper">

<header th:insert="blocks/header :: header"></header>

        <div class="clearfix">






            <div class="leftblock">

                <div class="video">
                    <video controls height="350px" width="100%" id="vid" autoplay>

                    </video>

                    <script>

                        navigator.mediaDevices.getUserMedia({video:true})
                        .then(stream => {document.getElementById("vid").srcObject=stream;})

                    </script>
                </div>


<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
                <div class="unknown">
                    <div >


                        <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">


                                <div class="carousel-item" th:each="el : ${Late}">

                                    <div class="menu1">
                                        <img th:src="@{${el.pathPhoto}}" height="100px">
                                    </div>

                                    <div class="menu2">
                                        <h3 th:text="${el.type}"/>
                                        <h3 th:text="${el.time}"/>

                                    </div>
                                    <div class="menu3">
                                        <h3>Message: </h3>
                                        <a th:text="${el.message}"/>

                                    </div>

                                    <div class="menu4">
                                        <input type="submit" value="Remove"/><br>
                                        <a class="p-2 text-dark" href="#">Details</a>

                                    </div>
                                </div>


                                <div class="carousel-item active menu5">
                                    <h1>Late</h1>
                                </div>

                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="late">


                    <div >


                        <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">


                                <div class="carousel-item" th:each="el : ${Excess}">

                                    <div class="menu1">
                                        <img th:src="@{${el.pathPhoto}}" height="100px">
                                    </div>

                                    <div class="menu2">
                                        <h3 th:text="${el.type}"/>
                                        <h3 th:text="${el.time}"/>

                                    </div>
                                    <div class="menu3">
                                        <h3>Message: </h3>
                                        <a th:text="${el.message}"/>

                                    </div>

                                    <div class="menu4">
                                        <input type="submit" value="Remove"/><br>
                                        <a class="p-2 text-dark" href="#">Details</a>

                                    </div>
                                </div>



                                <div class="carousel-item active menu5">
                                    <h1>Excess</h1>
                                </div>

                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>



                </div>

                <div class="excess">
                    <div >


                        <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">


                                <div class="carousel-item" th:each="el : ${Unknown}">

                                    <div class="menu1">
                                        <img th:src="@{${el.pathPhoto}}" height="100px">
                                    </div>

                                    <div class="menu2">
                                        <h3 th:text="${el.type}"/>
                                        <h3 th:text="${el.time}"/>

                                    </div>
                                    <div class="menu3">
                                        <h3>Message: </h3>
                                        <a th:text="${el.message}"/>

                                    </div>

                                    <div class="menu4">
                                        <input type="submit" value="Remove"/><br>
                                        <a class="p-2 text-dark" href="#">Details</a>

                                    </div>
                                </div>


                                <div class="carousel-item active menu5">
                                    <h1>Unknown</h1>
                                </div>

                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="disease">
                    <div >


                        <div id="carouselExampleControls4" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">


                                <div class="carousel-item" th:each="el : ${Disease}">

                                    <div class="menu1">
                                        <img th:src="@{${el.pathPhoto}}" height="100px">
                                    </div>

                                    <div class="menu2">
                                        <h3 th:text="${el.type}"/>
                                        <h3 th:text="${el.time}"/>

                                    </div>
                                    <div class="menu3">
                                        <h3>Message: </h3>
                                        <a th:text="${el.message}"/>

                                    </div>

                                    <div class="menu4">
                                        <input type="submit" value="Remove"/><br>
                                        <a class="p-2 text-dark" href="#">Details</a>

                                    </div>
                                </div>



                                <div class="carousel-item active menu5">
                                    <h1>Disease</h1>
                                </div>


                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls4" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls4" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

            <header th:insert="blocks/registration_slider :: registration_slider"></header>



        </div>





    </div>



</body>
</html>